<% content_for :title do %>Home<% end %>
<h2>Welcome to Valayism.com</h2>
<hr />
<% @posts.each do |post| %>
	<h3><%= link_to post.title, post %></h3>
	<%= post.content %><br>
	<%= link_to "Share on Facebook", "http://www.facebook.com/sharer.php?u " + "/posts/#{post}" %>
	<hr />
<% end %>